@page "/Applications/kenyondevlabswebsite"
@using KenyonDevLabs.Pages
@using KenyonDevLabs.Utilities
@inject IJSRuntime JS
@layout GamesAndAppsLayout


<!-- Section 1: Hero -->
<img src="Images/Website Cover 2.png" alt="Banner Image" class="main-banner" />
<h1 id="about">Kenyon Dev Labs</h1>
<p class="description">
    This website is where I promote all the projects I have published, along with their patch notes and
    other valuable information.
</p>

<hr class="section-divider" />

<section class="image-text-section">
    <img src="Images/KenyonDevLabsWebsite2.png" alt="Project Screenshot" />
    <div class="image-text-content">
        <h2>Published Projects</h2>
        <p>
            All my public projects can be seen here, alonside their details, app store listing, and documentation. Their
            patch notes can also be found, so the history of the app can be viewed.
        </p>
    </div>
</section>

<section class="image-text-section">
    <div class="image-text-content">
        <h2>News and Updates</h2>
        <p>
            There is a news section in the site that has all the patch notes and updates of the apps
            in one place, as well as any blog posts with information on other projects.
            </p>
    </div>
    <img src="Images/KenyonDevLabsWebsite4.png" alt="Project Screenshot" />
</section>


<hr class="section-divider" />
<section class="features-section">
    <h2>Software</h2>
    <div class="features-grid">
        <div class="feature-card">
            <div class="feature-icons">
                <img class="feature-icon" src="@IconRef.GetIcon("blazor")" alt="Unity Icon">
                
            </div>
            <div class="feature-title">Blazor</div>
            <p class="feature-desc">
                Blazor was used as it is very well suited for developing web applications.
            </p>
        </div>
        <div class="feature-card">
            <div class="feature-icons">
                <img class="feature-icon" src="@IconRef.GetIcon("html")" alt="Unity Icon">
                <img class="feature-icon" src="@IconRef.GetIcon("css")" alt="Unity Icon">
                <img class="feature-icon" src="@IconRef.GetIcon("javascript")" alt="Unity Icon">
            </div>
            <div class="feature-title">HTML + CSS + Javascript</div>
            <p class="feature-desc">

            </p>
        </div>
        <div class="feature-card">
            <div class="feature-icons">
                <img class="feature-icon" src="@IconRef.GetIcon("azure")" alt="Unity Icon">
            </div>
            <div class="feature-title">Azure</div>
            <p class="feature-desc">
                Azure's portal was used to publish the app and show it on the internet. It also allows for analysis of usage in the portal.
            </p>
        </div>
        

    </div>
</section>
